<%= image_tag @song.album_cover, class: "album-cover" %>
<div class="track-info">
  <div class="track-info-contents artists"><%= @song.artists %></div>
  <div class="track-info-contents album-title"><%= @song.album %></div>
  <div class="track-info-contents song-title"><%= @song.title %></div>
</div>
<div class="like-dislike">
  <% if @song.assessment %>
    <span><%= @song.assessment %>d!</span>
  <% else %>
    <%= link_to "Like", save_track_path(user: current_user.id, track_id: @song.track_id, assessment: 0), method: :post, class: "link like-link" %>
    <%= link_to "Dislike", save_track_path(user: current_user.id, track_id: @song.track_id, assessment: 1), method: :post, class: "link dislike-link" %>
  <% end %>
</div>
