<% if current_user %>
  <%= link_to "MachineLearnSongs", learn_path, class: "link site-title" %>
  <div class="right-content">
    <%= link_to "Learn", learn_path, class: "link learn-link" %>
    <%= link_to "Predict", predict_path, class: "link learn-link" %>
    <%= link_to "Log Out", logout_path, method: :delete, class: "link logout-link" %>
  </div>
<% else %>
  <%= link_to "MachineLearnSongs", root_path, class: "link site-title" %>
<% end %>
