<!DOCTYPE html>
<html>
  <head>
    <title>PersonalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="nav-bar"><%= render partial: "shared/nav-bar" %></div>
    <%= yield %>
    <div class="footer"><%= render partial: "shared/footer" %></div>
  </body>
</html>
